html, body {
	height: 100%;
}

tr {
	display: block; /*将tr设置为块体元素*/
	margin: 5px 0; /*设置tr间距为2px*/
}

.groupmembers {
	background-color: rgb(255, 255, 153);
}

.layui-table tbody tr:hover, .layui-table-hover {
	background-color: #fff;
}